*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.individual_plant {
    max-width: 800px;
    max-height: auto;
    
    gap: 10%;
}

.all_plants {
    max-width: 800px;
    max-height: auto;
    display: grid;
    gap: 10%;
}